<h1>Listing poems</h1>

<table>
  <tr>
    <th>Johnson</th>
    <th>Title</th>
  </tr>

<% @poems.each do |poem| %>
  <tr>
    <td><%= poem.johnson %></td>
    <td><%= link_to poem, poem %></td>
  </tr>
<% end %>
</table>

<%= paginate @poems %>

<br />

