h1 Listing poems

h2.search-query Search by text in poem
= search_form_for q, html: { class: 'search-query' } do |f|
  .form-group
    = f.label :text_cont, class: "sr-only"
    => f.text_field :text_cont, placeholder: "Text contains", class: "form-control"

  = f.submit 'Search', class: 'btn btn-primary'

#paginator
  = paginate @poems

table.table.table-condensed.table-hover
  caption List of Poems
  thead
    tr
      th Johnson
      th Title
  tfoot
    tr
      th(colspan=2) List of Poems
  tbody#poems-list
    - cache cache_key_for_poems, expires_in: 1.hour do
      = render @poems

p Taken from Wikisource
