= simple_form_for [:admin, @poem] do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :text, class: 'ckeditor'
    = f.input :plain_text
    = f.input :johnson
    = f.input :franklin

  .form-actions
    = f.button :submit
